<div id="app-logo-large">
  <img
    alt="Debate"
    height="384"
    ngSrc="assets/images/largeLogo.png"
    priority
    width="451"
  />
</div>
<form (ngSubmit)="submitDebate()">
  <div style="display: flex; align-items: center">
    <span>topic / question:</span>
    <input
      [(ngModel)]="input"
      [disabled]="loading"
      name="input"
      placeholder='e.g., "abortion"'
      type="text"
    />
  </div>
  <div style="display: flex; align-items: center">
    <span>number of exchanges:</span>
    <input
      (change)="validateExchanges()"
      [(ngModel)]="exchanges"
      [disabled]="loading"
      max="5"
      min="1"
      name="exchanges"
      placeholder="e.g., 2"
      type="number"
    />
  </div>
  <button [disabled]="loading || input === ''" type="submit">
    start debate
  </button>
  <div *ngIf="loading" class="loader"></div>
</form>

<div *ngIf="debateResponses.length">
  <div
    *ngFor="let response of debateResponses"
    [ngClass]="{
      'conservative-response': response.debater === 'conservative',
      'liberal-response': response.debater === 'liberal',
    }"
    class="response"
  >
    <span class="debater-model">
      <img
        *ngIf="response.debater === 'conservative'"
        alt="Conservative"
        height="66"
        ngSrc="assets/images/republican.svg"
        width="75"
      />
      <img
        *ngIf="response.debater === 'liberal'"
        alt="Liberal"
        height="75"
        ngSrc="assets/images/democratic.svg"
        width="75"
      />
    </span>
    <div
      [innerHTML]="response.response | markdown | async"
      class="debate-text"
    ></div>
  </div>
</div>
