<div class="debate-form">
  <input
    [(ngModel)]="input"
    placeholder="Enter your debate topic"
    type="text"
  />
  <input
    [(ngModel)]="exchanges"
    placeholder="Number of exchanges"
    type="number"
  />
  <button (click)="submitDebate()">Start Debate</button>
</div>

<div *ngIf="debateResponses.length">
  <div *ngFor="let response of debateResponses" class="response">
    <span class="debater-name">{{ response.debater }}</span>
    <div
      [innerHTML]="response.response | markdown | async"
      class="debate-text"
    ></div>
  </div>
</div>
