<form (ngSubmit)="submitDebate()">
  <div style="display: flex; align-items: center">
    <span>topic / question:</span>
    <input
      [(ngModel)]="input"
      name="input"
      placeholder='e.g., "abortion"'
      type="text"
    />
  </div>
  <div style="display: flex; align-items: center">
    <span>number of exchanges:</span>
    <input
      [(ngModel)]="exchanges"
      name="exchanges"
      placeholder="e.g., 2"
      type="number"
    />
  </div>
  <button type="submit">Start Debate</button>
</form>

<div *ngIf="debateResponses.length">
  <div *ngFor="let response of debateResponses" class="response">
    <span class="debater-name">{{ response.debater }}</span>
    <div
      [innerHTML]="response.response | markdown | async"
      class="debate-text"
    ></div>
  </div>
</div>
